body {
	background-color: #cccccc;
	font-family: "Courier New";
	margin-left: 32px;
}

h1 {
	font-size: 48px;
	margin-bottom: -12px;
}

h2 {
	font-size: 32px;
	margin-bottom: -8px;
}

p {
	font-size: 16px;
}

li {
	margin-bottom: 6px;
}